body {
  margin: 0px;
  padding: 0px;
}

textarea {
  resize: none !important;
}

.pointer-cursor {
  cursor: pointer;
}

/* @font-face {
  font-family: baemin_font;
  src: url("../source/BMHANNAPro.ttf");
} */

.w3-baemint {
  background-color: #45c1bf !important;
  color: white !important;
}

.sw-center {
  width: 100%;
  /* topnav 높이만큼 마진탑 */
}

.no_line_textarea {
  border: none;
  width: 100%;
  background: none;
  resize: none !important;
}

.w3-margin-4 {
  margin: 4px !important;
}

.w3-padding-4 {
  padding: 4px !important;
}

.sw-container-1200 {
  max-width: 1200px;
  margin: auto;
}

.sw-container-1100 {
  max-width: 1100px;
  margin: auto;
}

.sw-container-1000 {
  max-width: 1000px;
  margin: auto;
}

.sw-container-900 {
  max-width: 900px;
  margin: auto;
}

.sw-container-800 {
  max-width: 800px;
  margin: auto;
}

.sw-container-700 {
  max-width: 700px;
  margin: auto;
}

.sw-container-600 {
  max-width: 600px;
  margin: auto;
}

.sw-container-500 {
  max-width: 500px;
  margin: auto;
}

.sw-container-400 {
  max-width: 400px;
  margin: auto;
}

.sw-topnav-margin {
  height: 65px;
  /* background: cyan; */
}

.sw-floatbutton {
  position: fixed;
  transition: 0.4ms;
}

.sw-right-bottom {
  right: 15px;
  bottom: 15px;
}

.sw-left-bottom {
  left: 15px;
  bottom: 15px;
}

.sw-left-top {
  left: 10px;
  top: 15px;
}

.sw-right-top {
  right: 15px;
  top: 15px;
}

.h100 {
  height: 100px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:clicked {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.topnav .icon {
  display: none;
}

.star-rating {
  width: 304px;
}

.star-rating,
.star-rating span {
  display: inline-block;
  height: 55px;
  overflow: hidden;
  background: url(../source/img/star.png) no-repeat;
}

.star-rating span {
  background-position: left bottom;
  line-height: 0;
  vertical-align: top;
}

@media screen and (max-width: 900px) {
  .sw-container {
    max-width: none;
    /* width: 100%; */
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: fixed;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .main {
    transition: margin-left 0.5s;
    padding: 20px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
}
